.header
    display: flex
    justify-content: space-between
    align-items: center
    .burger
        @include media-mobile
            display: block
    .menu
        @include media-mobile
            display: none

.pets-header
    position: sticky
    top: 0
    max-width: 1280px
    margin: 0 auto
    padding: 30px 40px
    background-color: $light-xl
    @include media-tablet
        padding: 30px 30px
    @include media-mobile
        padding: 30px 10px
        .burger
            background-color: black
            &:before
                background-color: black
            &:after
                background-color: black
