.menu
    &__list
        display: flex
        margin: 0
        padding: 0
        list-style: none
    &__item
        margin-right: 36px
        &:last-child
            margin-right: 0
        &_active
            .menu__link
                color: $dark-l
                border-bottom: 3px solid $primary
                &_main
                    color: $light-s
    &__link
        @include paragraph-l
        line-height: 22px
        display: block
        text-decoration: none
        color: $dark-l
        transition-duration: 0.4s
        &:hover
            color: $dark-3xl
        &_main
            color: $dark-s
            &:hover
                color: $light-s
