.slider
    display: flex
    justify-content: space-between
    align-items: center
    &__inner
        display: flex
    &__item
        margin-right: 90px
        &:last-child
            margin-right: 0
