.slider
    display: flex
    justify-content: space-between
    align-items: center
    &__inner
        display: flex
    &__item
        margin-right: 90px
        @include media-tablet
            margin-right: 5.21vw
        &:last-child
            margin-right: 0
        &:nth-child(3)
            @include media-tablet
                display: none
        &:nth-child(2)
            @include media-tablet
                margin-right: 0
