@mixin h2
    font-family: $Georgia
    font-size: 44
    line-height: 130%

@mixin h3
    font-family: $Georgia
    font-size: 35
    line-height: 130%
    letter-spacing: 6%

@mixin h3-mobile
    font-family: $Georgia
    font-size: 25
    line-height: 130%
    letter-spacing: 6%

@mixin h4
    font-family: $Georgia
    font-size: 20
    line-height: 115%
    letter-spacing: 6%

@mixin h5
    font-family: $Georgia
    font-size: 15
    line-height: 110%
    letter-spacing: 6%

@mixin h5-modal-window
    font-family: $Georgia
    font-size: 15
    font-weight: 700
    line-height: 110%
    letter-spacing: 6%

@mixin paragraph-l
    font-family: $Arial
    font-size: 15
    line-height: 160%

@mixin paragraph-s
    font-family: $Arial
    font-size: 12
    font-style: italic
    line-height: 150%

@mixin paragraph-mobile-menu
    font-family: $Arial
    font-size: 32
    line-height: 150%

@mixin logo-title
    font-family: $Georgia
    font-size: 32
    line-height: 110%
    letter-spacing: 6%

@mixin logo-subtitle
    font-family: $Arial
    font-size: 13
    letter-spacing: 10%
