@font-face
    font-family: "Arial"
    src: local("Arial"), url(../../assets/fonts/arial-400.woff2) format("woff2"), url(../../assets/fonts/arial-400.woff) format("woff")
    font-weight: 400
    font-style: normal
    font-display: swap

@font-face
    font-family: "Arial"
    src: url(../../assets/fonts/arial-400-italic.woff2) format("woff2"), url(../../assets/fonts/arial-400-italic.woff) format("woff")
    font-weight: 400
    font-style: italic
    font-display: swap

@font-face
    font-family: "Georgia"
    src: local("Georgia"), url(../../assets/fonts/georgia-400.woff2) format("woff2"), url(../../assets/fonts/georgia-400.woff) format("woff")
    font-weight: 400
    font-style: normal
    font-display: swap

.section-title
    @extend %h3
    color: $dark-l
    @include media-mobile
        @include h3-mobile

.start-screen
    &__title
        @extend %h2
        color: $light-xl
        @include media-mobile
            @include h3-mobile
    &__text
        @extend %paragraph-l
        color: $light-xl

.about
    &__text
        @extend %paragraph-l
        color: $dark-xl

.help
    &__link
        @extend %h4
        color: $dark-l
        @include media-mobile
            @include h5

.donation
    &__subtitle
        @extend %h5
        color: $dark-l
        @include media-mobile
            letter-spacing: 0
            line-height: 23px
    &__credit-card
        @extend %h4
        color: $dark-l
        @include media-mobile
            @include h5
    &__legal-info
        @extend %paragraph-s
        color: $dark-m
