// .container
//     &__pets-header
//         position: sticky
//         top: 0
//         padding-top: 0
//         padding-bottom: 0
//         background-color: $light-xl

.pets-header
    position: sticky
    top: 0
    padding: 30px 40px
    margin: 0 auto
    max-width: 1280px
    background-color: $light-xl

.our-pets
    .container
        background-color: $light-l
    &__title
        margin: 0
        margin-bottom: 5%
        text-align: center
    &__item-container
        margin-bottom: 5%
